.grid {
    display: grid;
    column-gap: 10px;
    row-gap: 1em;
}
.grid-six {
    grid-template-columns: repeat(6, 1fr);
}
.grid-five {
    grid-template-columns: repeat(5, 1fr);
}
.grid-four {
    grid-template-columns: repeat(4, 1fr);
}
.grid-three {
    grid-template-columns: repeat(3, 1fr);
}
.grid-two {
    grid-template-columns: repeat(2, 1fr);
}
@media screen and (max-width:900px) {
    .grid-six {
        grid-template-columns: repeat(3, 1fr);
    }
    .grid-five {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width:719px) {
    .grid-six {
        grid-template-columns: repeat(2, 1fr);
    }
    .grid-five {
        grid-template-columns: repeat(2, 1fr);
    }
    .grid-four{
        grid-template-columns: repeat(2, 1fr);
    }
    .grid-three {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width:400px) {
    .grid-six {
        grid-template-columns: repeat(1, 1fr);
    }
    .grid-five {
        grid-template-columns: repeat(1, 1fr);
    }
    .grid-four{
        grid-template-columns: repeat(1, 1fr);
    }
    .grid-three {
        grid-template-columns: repeat(1, 1fr);
    }
    .grid-two {
        grid-template-columns: repeat(1, 1fr);
    }
}